@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left,#09294c,#005bbd);
}

.wrapper{
    max-width: 390px;
    background: #fff ;
    padding:  30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba (0, 0, 0, 0, 1);
}

.wrapper .title-text{
    display: flex;
    width: 200%;
}

.wrapper .title-text .title-login{
    color:#09294c;
    width: 50%;
    font-size: 35px;
    font-weight:600;
    text-align: center;
}

.wrapper .form-container{
    width: 100%;
}

.form-container .form-inner form .field{

}

.form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
}

.form-inner form .field input:focus{
    border-color: #09294c;}

.form-inner form .field input[type="submit"]{
    color:#fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border:none;
    cursor: pointer;
    background: -webkit-linear-gradient(left,#09294c,#005bbd);
}