<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login & Signup</title>
      <link rel="stylesheet" href="/static/css/changepassword.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
       <div class="wrapper">
            <div class="form-container">
                <div class="form-inner">
                    <form action="{{url_for('changing')}}" class="login" method="post">
                        <div class="title-text">
                            <div class="title-login">Change Password</div>
                        </div>
                        <h3 style="color:rgb(252, 118, 41);font-weight: 100;">{{error}}</h3>
                        <div class="field">
                            <input type="text" name="inputUser" placeholder="User name" required>
                        </div>
                        <div class="field">
                            <input type="password" name="inputOld" placeholder="Old Password" required>
                        </div>
                        <div class="field">
                            <input type="password" name="inputNew" placeholder="New password" required>
                        </div>
                        <div class="field">
                            <input type="password" name="inputConfirm" placeholder="Confirm password" required>
                        </div>
                        <div class="field">
                            <input type="submit" value="Submit">
                        </div>    
                    </form>
                </div>
            </div>
        </div>
            
   </body>
</html>