<!DOCTYPE html>
<html>
<head>
    <title>{{user}}'s Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/UAP_profile.css">
</head>
<body>
 <div class="container">
     <div class="header">
         <h1>{{user}}'s accounts</h1>
         <h3 style="color: red;">{{error}}</h3>
     </div>
     <div class="main" style="color: white">
        <!--INSERT HERE-->
     </div>
     <br></br>
 </div>
</body>
</html>